# Server Configuration
PORT=5000
FRONTEND_URL=http://localhost:5173

# Gmail Configuration
EMAIL_USER=2025.vitalx@gmail.com
EMAIL_PASS=ugry lhys wunm saok

# Supabase Configuration
SUPABASE_URL=https://ypgnvwemsibsmydcqkon.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZ252d2Vtc2lic215ZGNxa29uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDA4ODc2MywiZXhwIjoyMDc1NjY0NzYzfQ.iYFVsaj414_FneatMSYYIkIAHa6KZTCHgYbq_pBaXHw
